# Wildcards
*~
*.swp
*.swo
.pyc
*.orig

# Can also ignore all directories and files in a directory.
visualization/
/backup/ftp.config

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/log/nginx/*
log/postgresql/*
pidas/*
/public/assets
.sass-cache
tmp/**/*
.idea/

# Ignore Byebug command history file.
.byebug_history

/config/application.yml

.byebug_history
/public/packs
/public/packs-test
/node_modules

# Vim swap files
*.sw*

# unicorn files like logs failures sockets 
/shared/*

# Ignore application configuration
/config/application.yml
.env
/pids/*

# Ignore database content
postgesqldata/*

# Ignore test coverage report
/coverage

# Ignore test assets
public/assets_test/
public/capybara.html

# Ignore /vendor/bundle
/vendor/bundle

# CTags
tags

# Node modules
node_modules

# Public assets
public/assets/
public/packs/
public/packs-test

# Secrets
config/initializers/secret_token.rb
