- flash.each do |type, msg|
  .container
    %div{:class => "alert alert-#{bootstrap_class_for(type)} alert-block alert-dismissable fade in"}
      %a.close{"data-dismiss" => "alert", :href => "#"} ×
      = msg

