%li.dropdown
  %a#themes.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    User
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "themes"}
    %li
      = link_to 'Preferences', edit_user_registration_path
    %li.divider
    %li
      = link_to 'Sign out', destroy_user_session_path, method: :delete
